main {
    display: flex;
    padding: 0 8%;
    /* overflow: hidden; */
    background-size: cover;
    align-items: center;
    flex-wrap: wrap; 
}

.text-section h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
}

.text-section h3 {
    font-size: 35px;
    font-weight: 700;
}

.typewriter-container {
    display: inline-block; 
    min-width: 300px;
    overflow: hidden;
    margin-top: 5px; 
}

.text-section h3:nth-of-type(2) {
    margin-bottom: 30px;
}

.text-section h3 span {
    font-size: 35px;
    font-weight: 700;
    color: #E4960E;
}

.text-section p {
    font-size: 25px;
    margin: 20px 0 40px;
}

.text-section {
    width: 100%; 
    max-width: 700px;
    padding-right: 3rem; 
}

.heading {
    font-size: 3rem; 
    font-weight: bold;
    color: rgb(6, 82, 6);
    margin-bottom: 1rem; 
}

.typewriter-effect {
    color: rgb(6, 82, 6); 
    margin-bottom: 1rem; 
}

.description {
    color: rgb(8, 14, 8); 
    margin-bottom: 2rem;
    font-size: 30px;
    line-height: 40px;
}

.landing-page .btn-box {
    width: 100%;
    max-width: 430px;
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

.btn-box a {
    width: 200px;
    height: 70px;
    background-color: transparent;
    border: 2px solid rgb(6, 82, 6);
    border-radius: 8px;
    position: relative;
    display: inline-flex;
    font-size: 20px;
    color: rgb(6, 82, 6);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: color 0.5s, background-color 0.5s;
    z-index: 1;
}

.btn-box a:nth-child(1) {
    background-color: rgb(6, 82, 6);
    color: white;
}

.btn-box a:nth-child(1):hover {
    background-color: transparent;
    color: rgb(6, 82, 6);
}

.btn-box a:nth-child(2):hover {
    color: white;
}

.image-section {
    width: 80%; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    margin-left: 100px;
    border-radius: 50%;
}

.profile-image {
    width: 80%; 
    height: auto;
    margin-left: 100px;
    margin-top: 10%;
    /* border-radius: 50%; */
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to right, rgb(135, 172, 135), transparent);
    border-radius: 9999px;
}

.footer {
    padding: 1rem 0; 
    color: white; 
    position: relative; 
    text-align: center; 
}

.social-links {
    position: absolute;
    bottom: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.social-links a {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgb(6, 82, 6);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    color: rgb(6, 82, 6);
    z-index: 1;
    overflow: hidden;
    transition: background 0.3s, color 0.3s; /* Smooth transition */
}

.social-links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(6, 82, 6);
    z-index: -1;
    transition: width 0.5s; /* Smooth width transition */
}

.social-links a:hover::before {
    width: 100%;
}

.social-links a:hover {
    color: white;
}

