
.landing-section {
  display: flex;
  padding: 0 8%;
  background-size: cover;
  align-items: center;
  flex-wrap: wrap; 
}

.typewriter-container {
    display: inline-block; 
    min-width: 300px;
    overflow: hidden;
    margin-top: 5px; 
    font-size: 40px;
}

.typewriter-container h3 {
  margin-top: 5px; 
  font-size: 30px;
}

.text-section h3:nth-of-type(2) {
    margin-bottom: 30px;
}

.text-section h3 span {
    font-size: 35px;
    font-weight: 700;
    color: #E4960E;
}

.text-section p {
    font-size: 25px;
    margin: 20px 0 40px;
}

.text-section {
    width: 100%; 
    max-width: 700px;
    padding-right: 3rem; 
}

.heading {
    font-size: 100px; 
    font-weight: bold;
    color: rgb(6, 82, 6);
    margin-bottom: 40px;

}


.typewriter-effect {
    color: rgb(6, 82, 6); 
    margin-bottom: 1rem; 
}

.description {
    color: rgb(8, 14, 8); 
    margin-top: 20px;
    font-size: 50px;
    line-height: 50px;
    text-align: justify;
    padding-top: 30px;
}

.landing-page .btn-box {
    width: 100%;
    max-width: 430px;
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

.btn-box a {
    width: 200px;
    height: 70px;
    margin-top: 10%;
    background-color: transparent;
    border: 2px solid rgb(6, 82, 6);
    border-radius: 8px;
    position: relative;
    display: inline-flex;
    font-size: 20px;
    color: rgb(6, 82, 6);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: color 0.5s, background-color 0.5s;
    z-index: 1;
}

.btn-box a:nth-child(1) {
    background-color: rgb(6, 82, 6);
    color: white;
}

.btn-box a:nth-child(1):hover {
    background-color: transparent;
    color: rgb(6, 82, 6);
}

.btn-box a:nth-child(2):hover {
    color: white;
}

.image-section {
    width: 80%; 
    margin-left: 100px;
    border-radius: 50%;
}

.profile-image {
    width: 80%; 
    height: auto;
    margin-left: 100px;
    margin-top: 10%;

}



.social-links {
    position: absolute;
    bottom: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 160px;

}

.social-links a {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid rgb(6, 82, 6);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    color: rgb(6, 82, 6);
    z-index: 1;
    overflow: hidden;
    transition: background 0.3s, color 0.3s; 
}

.social-links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(6, 82, 6);
    z-index: -1;
    transition: width 0.5s;
}

.social-links a:hover::before {
    width: 100%;
}

.social-links a:hover {
    color: white;
}

@media screen and (min-width: 280px) and (max-width: 360px) {
  .landing-section {
    display: flex;
    flex-direction: column;
    padding: 0 7%;
    align-items: center;
  }

  .landing-page {
    margin-top: 10%;
    width: 100%;
    font-size: 10px;

  }

  .text-section {
    width: 100%;
    max-width: 130%;
    text-align: left;
  }

  .text-section p{
    width: 120%;
    max-width: 130%;
    text-align: justify;
    font-size: 20px;
  }

  .text-section h1{
    width: 100%;
    max-width: 130%;
    text-align: justify;
    font-size: 40px;
  }

  .text-section h3{
    width: 100%;
    max-width: 130%;
    text-align: justify;
    font-size: 30px;
  }

  .image-section img{
    width: 180%; 
    height: 250px;
    margin-right: 100%;
    margin-top: 40%;

  }

  .profile-image {
    width: 100%; 
    height: auto;
    margin-left: 0;
  }

  .btn-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
    margin-left: 20%;
    gap: 100px;
}

.btn-box a {
    width: 100%;
    max-width: 650px;
    height: 100px; 
    font-size: 16px;
    margin-top: -10px; 
    display: flex;
    margin-bottom: -10px;
    justify-content: center;
    align-items: center;
}

.social-links {
  position: relative;
  bottom: auto;
  width: 100%;
  justify-content: center;
  margin-left: 0;
  margin-top: 30px;
  padding-bottom: 20px;
  margin-left: 10px;
}

.social-links a {
  width: 40px;
  height: 40px;
  font-size: 16px;
}
}

@media screen and (min-width: 370px) and (max-width: 390px) {
  .landing-section {
    display: flex;
    flex-direction: column;
    padding: 6% 7%;
    align-items: center;
  }

  .landing-page {
    margin-top: 10%;
    width: 100%;
    font-size: 10px;

  }

  .text-section {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .text-section p{
    text-align: justify;
    font-size: 20px;
  }

  .text-section h1{
    font-size: 38px; 
    width: 100%;
    margin-right: 20px;

  }


  .typewriter-container {
    display: inline-block; 
    min-width: 100%;
    overflow: hidden;
    margin-top: 10px; 
    font-size: 20px;
    text-align: center;
  }

  .description  {
    color: rgb(8, 14, 8); 
    margin-top: 20px;
    font-size: 10px;
    line-height: 1.4;
    text-align: justify;
    padding-top: 10px;
    margin-left: 30%;
    width: 110%;
  }

  .btn-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
    margin-left: 20%;
    gap: 100px;
}

.btn-box a {
    width: 100%;
    max-width: 650px;
    height: 100px;
    font-size: 16px;
    margin-top: -10px; 
    display: flex;
    margin-bottom: -10px;
    justify-content: center;
    align-items: center;
}

  .image-section img{
    width: 152%; 
    height: 250px;
    margin-right: 120%;
    margin-top: 20%;

  }

  .profile-image {
    width: 100%; 
    height: auto;
    margin-left: 0;
    margin-top: 20px;
  }

  .social-links {
    position: relative;
    bottom: auto;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
    margin-left: -5px;
  }

  .social-links a {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@media screen and (min-width: 391px) and (max-width: 413px) {
  .landing-section {
    display: flex;
    flex-direction: column;
    padding: 6% 7%;
    align-items: center;
  }

  .landing-page {
    margin-top: 10%;
    width: 100%;
    font-size: 10px;

  }

  .text-section {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .text-section p{
    text-align: justify;
    font-size: 20px;
  }

  .text-section h1{
    font-size: 38px; 
    width: 100%;
    margin-right: 20px;

  }


  .typewriter-container {
    display: inline-block; 
    min-width: 100%;
    overflow: hidden;
    margin-top: 10px; 
    font-size: 20px;
    text-align: center;
  }

  .description  {
    color: rgb(8, 14, 8); 
    margin-top: 20px;
    font-size: 10px;
    line-height: 1.4;
    text-align: justify;
    padding-top: 10px;
    margin-left: 30%;
    width: 110%;
  }



  .btn-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
    margin-left: 20%;
    gap: 100px;
}

.btn-box a {
    width: 100%;
    max-width: 650px;
    height: 100px; 
    font-size: 16px;
    margin-top: -10px; 
    display: flex;
    margin-bottom: -10px;
    justify-content: center;
    align-items: center;
}

  .image-section img{
    width: 152%; 
    height: 250px;
    margin-right: 120%;
    margin-top: 20%;

  }

  .profile-image {
    width: 100%; 
    height: auto;
    margin-left: 0;
    margin-top: 20px;
  }

  .social-links {
    position: relative;
    bottom: auto;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 80px;
    margin-left: -5px;
  }

  .social-links a {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@media screen and (min-width: 414px) and (max-width: 520px) {
  .landing-section {
    display: flex;
    flex-direction: column;
    padding: 6% 7%;
    align-items: center;
  }

  .landing-page {
    margin-top: 10%;
    width: 100%;
    font-size: 10px;

  }

  .text-section {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .text-section p{
    text-align: justify;
    font-size: 20px;
  }

  .text-section h1{
    font-size: 38px; 
    width: 100%;
    margin-right: 20px;

  }


  .typewriter-container {
    display: inline-block; 
    min-width: 100%;
    overflow: hidden;
    margin-top: 10px; 
    font-size: 20px;
    text-align: center;
  }

  .description  {
    color: rgb(8, 14, 8); 
    margin-top: 20px;
    font-size: 10px;
    line-height: 1.4;
    text-align: justify;
    padding-top: 10px;
    margin-left: 30%;
    width: 110%;
  }



  .btn-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
    margin-left: 20%;
    gap: 100px;
}

.btn-box a {
    width: 100%;
    max-width: 650px;
    height: 100px; 
    font-size: 16px;
    margin-top: -10px; 
    display: flex;
    margin-bottom: -10px;
    justify-content: center;
    align-items: center;
}

  .image-section img{
    width: 152%; 
    height: 250px;
    margin-right: 120%;
    margin-top: 20%;

  }

  .profile-image {
    width: 100%; 
    height: auto;
    margin-left: 0;
    margin-top: 20px;
  }

  .social-links {
    position: relative;
    bottom: auto;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 62px;
    margin-left: -5px;
  }

  .social-links a {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@media screen and (min-width: 540px) and (max-width: 720px) {
  .landing-section {
    display: flex;
    flex-direction: column;
    padding: 6% 7%;
    align-items: center;
  }

  .landing-page {
    margin-top: 10%;
    width: 100%;
    font-size: 10px;

  }

  .text-section {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .text-section p{
    text-align: justify;
    font-size: 20px;
  }

  .text-section h1{
    font-size: 38px; 
    width: 100%;
    margin-right: 20px;

  }


  .typewriter-container {
    display: inline-block; 
    min-width: 100%;
    overflow: hidden;
    margin-top: 10px; 
    font-size: 20px;
    text-align: center;
  }

  .description  {
    color: rgb(8, 14, 8); 
    margin-top: 20px;
    font-size: 10px;
    line-height: 1.4;
    text-align: justify;
    padding-top: 10px;
    margin-left: 30%;
    width: 110%;
  }

  .btn-box a {
    width: 250px;
    height: 70px;
    margin-top: 10%;
    font-size: 20px;

}

.btn-box {
  margin-left: 5%;
  
}



  .image-section img{
    width: 152%; 
    height: 300px;
    margin-right: 70%;
    margin-top: 40%;

  }

  .profile-image {
    width: 100%; 
    height: auto;
    margin-left: 0;
    margin-top: 20px;
  }

  .social-links {
    position: relative;
    bottom: auto;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
    margin-left: -5px;
  }

  .social-links a {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@media screen and (min-width: 740px) and (max-width: 815px) {
  .landing-section {
    display: flex;
    flex-direction: column;
    padding: 6% 7%;
    align-items: center;
  }

  .landing-page {
    margin-top: 10%;
    width: 100%;
    font-size: 10px;

  }

  .text-section {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .text-section p{
    text-align: justify;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-section h1{
    font-size: 38px; 
    width: 100%;
    margin-right: 20px;

  }


  .typewriter-container {
    display: inline-block; 
    min-width: 100%;
    overflow: hidden;
    margin-top: 10px; 
    font-size: 20px;
    text-align: center;
  }

  .description  {
    color: rgb(8, 14, 8); 
    margin-top: 20px;
    font-size: 10px;
    line-height: 1.4;
    text-align: justify;
    padding-top: 10px;
    margin-left: 30%;
    width: 110%;
  }

  .btn-box a {
    width: 250px;
    height: 70px;
    margin-top: 10%;
    font-size: 20px;

}

.btn-box {
  margin-left: 20%;
  
}

  .image-section img{
    width: 160%; 
    height: 360px;
    margin-right: 50%;
    margin-top: 30%;

  }

  .profile-image {
    width: 100%; 
    height: auto;
    margin-left: 0;
    margin-top: 20px;
  }

  .social-links {
    position: relative;
    bottom: auto;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
    margin-left: -5px;
  }

  .social-links a {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}

@media screen and (min-width: 820px) and (max-width: 1000px) {
  .landing-section {
    display: flex;
    flex-direction: column;
    padding: 6% 7%;
    align-items: center;
  }

  .landing-page {
    margin-top: 10%;
    width: 100%;
    font-size: 10px;

  }

  .text-section {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .text-section p{
    text-align: justify;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-section h1{
    font-size: 38px; 
    width: 100%;
    margin-right: 20px;

  }


  .typewriter-container {
    display: inline-block; 
    min-width: 100%;
    overflow: hidden;
    margin-top: 10px; 
    font-size: 20px;
    text-align: center;
  }

  .description  {
    color: rgb(8, 14, 8); 
    margin-top: 20px;
    font-size: 10px;
    line-height: 1.4;
    text-align: justify;
    padding-top: 10px;
    margin-left: 30%;
    width: 110%;
  }

  .btn-box a {
    width: 250px;
    height: 70px;
    margin-top: 10%;
    font-size: 20px;

}

.btn-box {
  margin-left: 20%;
  
}

  .image-section img{
    width: 160%; 
    height: 360px;
    margin-right: 50%;
    margin-top: 30%;

  }

  .profile-image {
    width: 100%; 
    height: auto;
    margin-left: 0;
    margin-top: 20px;
  }

  .social-links {
    position: relative;
    bottom: auto;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
    margin-left: -5px;
  }

  .social-links a {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1200px) {
  .landing-section {
    display: flex;
    flex-direction: column;
    padding: 6% 7%;
    align-items: center;
  }

  .landing-page {
    margin-top: 10%;
    width: 80%;
    font-size: 10px;

  }

  .text-section {
    width: 100%;
    max-width: 100%;
    text-align: justify;
    flex-wrap: wrap;
  }

  .text-section p{
    text-align: justify;
    font-size: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 110%;

  }

  .text-section h1{
    font-size: 60px; 
    width: 100%;
    margin-right: 20px;

  }

  .text-section h3{
    font-size: 50px; 
    width: 100%;
    margin-right: 20px;

  }


  .typewriter-container h3 {
    display: inline-block; 
    min-width: 100%;
    overflow: hidden;
    margin-top: 10px; 
    font-size: 50px;
    text-align: center;
  }

  .description  {
    color: rgb(8, 14, 8); 
    margin-top: 20px;
    font-size: 10px;
    line-height: 1.4;
    text-align: justify;
    padding-top: 10px;
    margin-left: 30%;
    width: 110%;
  }

  .btn-box a {
    width: 450px;
    height: 70px;
    margin-top: 20%;
    font-size: 20px;

}

.btn-box {
  margin-left: 15%;
  
}

  .image-section img{
    width: 160%; 
    height: 400px;
    margin-right: 80%;
    margin-top: 30%;

  }

  .profile-image {
    width: 100%; 
    height: auto;
    margin-left: 0;
    margin-top: 20px;
  }

  .social-links {
    position: relative;
    bottom: auto;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
    margin-left: -105px;
  }

  .social-links a {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}
