
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 4%;
    color: rgb(6, 82, 6); 
    z-index: 100; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: white; 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
}
  
.logo {
    font-size: 25px; 
    font-family: 'Dancing Script', cursive;
    font-weight: 600; 
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(6, 82, 6);
    position: relative;
    cursor: default;
    text-decoration: none;
    animation: fadeIn 1.5s ease-in-out;
}

.logo::after {
    content: '';
    position: absolute;
    bottom: 9px;
    right: -14px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
}
  
.nav-links {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    margin-right: 60px;

}

.nav-links a {
    color: rgb(6, 82, 6); 
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease; 
    margin-right: 110px;
    gap: 5px;
}

.nav-link {
    color: rgb(6, 82, 6);
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
  }

  .nav-link:hover {
    color: #E4960E;
  }

.nav-links a:hover  {
    color:#E4960E; 
}

.nav-link.active {
    color: #E4960E; 
    font-weight: bold;
    border-bottom: 3px solid #E4960E; 
  }

.nav-links a:active{
    font-weight: bold;
    color:#E4960E;
}
  